<div class="ui inverted footer">
    <div class="ui container">
      <center>
        <h2 class="ui inverted header">Footer Header</h2>
        <p>&copy Davdev 2023. All Rights Reserved</p>
        <h2 class="ui inverted header">Footer Header</h2>

      </center>
    </div>
  </div>
 